.title
{
    text-align: center;
}

div
{
  font-style: normal;
}

body
{
    background-color: lightblue;
    text-align: center;
    font-style: italic;
    font-family: Helvetica;
    margin-right: 200px;
    margin-left: 200px;
}

#board
{
    display:block;
    margin: 50px auto;
    background-color: pink;
}

#button
{
    display:block;
    margin:auto;
    width:100px;
    background-color:black;
    color:white;
}

#scoreBoard
{
    text-align: center;
}
